<h1>login</h1>
<form action="/login" method="post">
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="submit">login</button>
</form>
{{#if error }}
    <pre>{{error}}</pre>
{{/if}}
