<div>
    log in to oauth2orize-poc
    <form action="/login" method="post">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit">login</button>
    </form>
</div>
