<div>
    <h1>{{appName}} requests access to your account</h1>
    <form action="/authorize/decision" method="post">
        <input type="hidden" name="transaction_id" value="{{transactionID}}">
        <input type="hidden" name="clientId" value="{{clientId}}">
        <button type="submit">Approve</button>
    </form>
</div>
