<h1>hello {{email}}</h1>

<h3>register app</h3>
<form action="/pkce-client/register" method="post">
    <input type="text" name="appName" placeholder="Application name">
    <input type="url" name="redirectUri" placeholder="Redirect URI">
    <button type="submit">register</button>
</form>
{{#if clients}}
{{/if}}
